* {
    box-sizing: border-box;
}

body {
    width: 1080px;
    margin: auto;
    background-color: #f0f0f0;
}

.header {
    padding: 8px;
    color: #000;
    font-size: 18px;
}

.header img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border-radius: 50%;
}

.header a {
    color: #000;
    text-decoration: none;
}

.header .l {
    float: left;
}

.header .r {
    float: right;
}

.search {
    margin-bottom: 8px;
    text-align: center;
}

.search input[type=text] {
    width: 560px;
    height: 32px;
    padding: 8px 12px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 18px;
}

.search button {
    width: 72px;
    height: 32px;
    padding: 8px 8px;
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: #660874;
    color: #fff;
    font-size: 14px;
}

.search button:hover {
    background-color: #d93379;
}

.navbar {
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 16px;
    font-size: 16px;
}

.navbar table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    background-color: #fff;
}

.navbar table td {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80px;
    text-align: center;
}

.navbar table td:hover {
    background-color: #ddd;
    color: #000;
}

.navbar a {
    color: #000;
    text-decoration: none;
}

.navbar a:hover {
    color: #d93379;
    text-decoration: underline;
}

.index {
    color: #000;
    font-size: 14px;
}

.index table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    border-radius: 16px;
    background-color: #fff;
}

.index table td {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 80px;
    text-align: center;
}

.index table td:first-child {
    font-weight: bold;
}

.index a {
    color: #660874;
    text-decoration: none;
}

.index a:hover {
    color: #d93379;
    text-decoration: underline;
}

.footer {
    margin-top: 8px;
    padding: 8px;
    color: #bbb;
    font-size: 14px;
    text-align: center;
}

.footer a {
    color: #bbb;
    text-decoration: none;
}

.footer a:hover {
    color: #bbb;
    text-decoration: underline;
}